<p>Stephanie Clifford, besser bekannt unter ihrem Künstlernamen <a href="https://www.news.at/a/usa-us-pornostar-trump-aff%C3%A4re-stormy-daniels-10204228">Stormy Daniels</a>, behauptet, 2006 Sex mit Donald Trump gehabt zu haben - und zwar kurz nachdem dessen <a href="https://www.news.at/a/melania-trump-sex-aff%C3%A4re-pornostar-9620216">Frau Melania</a>
 den gemeinsamen Sohn Barron zur Welt brachte. Der nunmehrige 
US-Präsident bestreitet die Affäre, sein Anwalt zahlte ihr jedoch 
Schweigegeld.</p>
<div class="breaker"><span>»</span>Wie viele Details kann man über zwei Minuten preisgeben?<span class="end">«</span></div>
<p>Doch die 39-Jährige lässt sich nicht zum Schweigen bringen. Ganz im Gegenteil. Im Interview mit dem Magazin <a href="https://www.vogue.com/article/stormy-daniels-interview-michael-cohen-donald-trump" target="_blank" class="link-external" rel="noopener">"Vogue"</a>
 plaudert Stormy Daniels nun aus dem Nähkästchen. Und Donald Trump kommt
 dabei nicht sonderlich gut weg. "Wie viele Details kann man über zwei 
Minuten preisgeben?", antwortet sie etwa auf die Frage, wie genau der 
Sex abgelaufen sei. Auf die Nachfrage der Journalistin, ob der 
Geschlechtsverkehr tatsächlich nur zwei Minuten gedauert habe, meint 
sie: "Vielleicht. Ich bin großzügig."</p>
<h2>Plötzlich lag Trump halbnackt auf dem Bett</h2>
<p>Kennengelernt hatte man sich im Jahr 2006 während eines 
Promi-Golfturniers in Nevada. Donald Trump lud Stormy Daniels 
anschließend zum Abendessen in sein Hotelzimmer ein, sie nahm an. 
Während des Essens habe er ihr mit "krankhafter Neugier" Fragen zum 
Pornogeschäft gestellt, als sie nach einem kurzen Abstecher aus dem 
Badezimmer zurückkam, sei er plötzlich in Hemd und Unterhose auf dem 
Bett gelegen.</p>
<p>Der Sex sei einvernehmlicher "Normaler-Leute-Sex" gewesen, berichtet 
Stormy Daniels. "Nicht ein Mal habe ich mich gefühlt, als sei ich in 
körperlicher Gefahr. Ich bin sicher, wenn ich gerannt wäre, hätte er 
mich nicht verfolgt. Und selbst wenn, hätte er mich nicht gekriegt", 
meint sie im Gespräch mit der "Vogue".</p>
<p>Laut Bericht der "New York Times" soll es anschließend zu weiteren 
Treffen gekommen sein, unter anderem in Donald Trumps Privatbungalow im 
Beverly Hills Hotel.</p>